{% extends 'main_general.html' %}

{% block content %}
    <h1>Llista d'usuaris</h1>
    <a href="/usersApp/usuaris/">
            <button>TORNAR</button>
    </a>
        <ul>
            {% for persona in msg %}
            <li>id: {{ persona.id }}</li>
            <li>nombre: {{ persona.nombre }}</li>
            <li>apellido: {{ persona.apellido }}</li>
            <li>años: {{persona.años}} </li>
            <li>pais: {{persona.pais}} </li>
            <li>rol: {{persona.rol}} </li>
            <a href="/usersApp/updateUser/{{ persona.id }}">EDITAR</a>
            <a href="/usersApp/deleteUser/{{ persona.id }}">BORRAR</a>
            <br>
            <br>
            {% endfor %}
        </ul>
{% endblock %}

