{% extends 'main_general.html' %}

{% block content %}
    <h1>Llista d'usuaris</h1>
        <ul>
            {% for persona in msg %}
            <li>id: {{ persona.id }}</li>
            <li>nombre: {{ persona.nombre }}</li>
            <li>apellido: {{ persona.apellido }}</li>
            <li>años: {{persona.años}} </li>
            <li>pais: {{persona.pais}} </li>
            <li>rol: {{persona.rol}} </li>
            <li><a href="/usersApp/updateUser/">EDITAR</a></li>
            <li><a href="/usersApp/deleteUser">BORRAR</a></li>
            <br>
            {% endfor %}
        </ul>
        <p><a href="/usersApp/usuaris/">Tornar</a></p>
{% endblock %}

